

$logo: 'none';
$logo-image: 'https://raw.githubusercontent.com/radiantearth/stac-site/master/images/logo/stac-030-long.png';
$logo-image-height: 100px;

$body-bg: white;
$body-color: black;

$theme-colors: (
  "primary":       #2664c7, 
  "secondary":     #6c757d,
  "success":       #77cc09,
  "info":          #0977cc,
  "warning":       #fabc20,
  "danger":        #fa2020,
  "light":         #f8f9fa,
  "dark":          #343a40
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1100px,
  xxl: 1600px,
  xxxl: 2500px
);

$font-size-base: 1rem;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family: $font-family-sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$h1-font-size: 2.2rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.2rem;

$headings-color: null;

// Links
$link-color: map-get($theme-colors, "primary");
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$block-margin: 1rem;
$header-margin: 0px;
$border-radius: 0.25rem;
$max-icon-size: 32px;

#stac-browser {
  > header {
    background-color: map-get($theme-colors, "primary");
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 5px;
    padding: 15px;
    padding-bottom: 0;

    .logos {
      float: right;
      filter: brightness(0) invert(1); 
    }

    @media screen and (max-width: 640px) {
      .logos {
        display: none;
      }
    }

    &::after {
      content: "";
      background: linear-gradient(90deg, map-get($theme-colors, "success"), map-get($theme-colors, "warning"));
      background-size: 100%;
      position: absolute;
      height: 6px;
      left: 0;
      right: 0;
    }

    .btn-outline-primary {
      color: #fff;
      border-color: #fff;

      &:hover {
        color: map-get($theme-colors, "primary");
        background-color: #fff;
      }
    }

    .lead > .in {
      color: #fff;

      a {
        color: #fff;
        background-color: map-get($theme-colors, "primary");

        &:hover {
          color: map-get($theme-colors, "success");
        }
      }
    }
  }
}